
@import "bootstrap/dist/css/bootstrap.min.css";



//fondo de la pagina
body {
   background-image: url('https://img.freepik.com/vector-gratis/fondo-abstracto-acuarela-colorida_23-2149108517.jpg?semt=ais_hybrid&w=740&q=80');
   background-size: cover;
   background-attachment: fixed;
}