
@import "bootstrap/dist/css/bootstrap.min.css";



//fondo de la pagina
body {
   background-image: url('https://static.vecteezy.com/system/resources/previews/005/559/554/non_2x/concrete-coating-of-gray-and-red-colors-sidewalk-of-gray-and-pink-pavers-close-up-texture-background-from-curly-gray-orange-stone-top-view-on-the-sidewalk-free-photo.jpg');
   background-size: cover;
   background-attachment: fixed;
}